<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxKwon.github.io</title>
</head>
<body>
    <h1>Vue 시작하기</h1>

    <h2>2021.06.22</h2>
    <ol>
        <li>
            <h3>Node.js 개발 - 1 - 설치 및 버전 관리</h3>
            <ul>
                <li>프론트앤드 개발을 하기위해서는 node.js 환경이 필요하다.</li>
                <li>로컬환경에 자바스크립트를 통해서 서버개발을 할수있는 런타임 환경을 제공한다.</li>
                <li>npm으로 특정 모듈들을 로컬 환경에서 관리한다.</li>
            </ul>
        </li>
        <li>
            <h3>Vue 기본설치</h3>
            <a href="chapter1/index.html" target="_blank">cdn 사용하여 vue 실행 (새창)</a>
            <ul>
                <li>vue.js 홈페이지 다운받아서 직접 연결, cdn을 통해 웹에 있는 vue.js파일을 연결하는 총 두가지 방법이 있다.</li>
                <li>간단히 연결할수있다는것이 장점이다.</li>
                <li>개발용 버전으로 개발하고 배포하기전에 배포용으로 변경하기도 한다.</li>
                <li>cdn(Content Delivery Network) : 전세계에 분산되어져있는 서버에서 다운로드 받아서 쓰는 개념</li>
                <li>new라는 키워드로 시작하는 함수 실행은 생성자 함수이며, instance가 생성된다.</li>
                <li>인수로 객체 데이터를 추가하고 프로퍼티로 엘리먼트를 선택한다.</li>
            </ul>
        </li>
        <li>
            <h3>Vue 시작하기 - 1 - 선언적 렌더링</h3>
            <ul>
                <li>html에 특정 요소에 템플릿 문법으로 렌더링하고 관리할수있다.</li>
                <li>자바스크립트의 특정 데이터를 변경하면 화면에 다시 자동으로 반응적으로 렌더링하는 반응형이다.</li>
                <li>v-bind: 자바스크립트의 vue에서 html에 바인딩 시키는 개념</li>
                <li>jquery는 html을 직접적으로 제어했다. 속도가 느린 단점이 있다. ( html의 특정요소 찾기 -> 데이터 추출 -> 새로운 데이터를 html에 삽입하는 과정을 거침 )</li>
                <li>vue는 데이터를 제어하면 html에 자동으로 렌덩링 하는 개념이다. 데이터를 가지고 html을 만드는데 특화 되어있다.</li>
                <li>
                    <span><a href="chapter1/v-bind_Class.html" target="_blank">예제 (새창)</a></span>
                    <ol>
                        <li>active 데이터 boolean으로 정의</li>
                        <li>v-bind 디렉티브 적용</li>
                        <li>
                            <p><strong>v-bind:class</strong></p>
                            <p>-> vue에있는 데이터와 바인딩해서 class 속성을 제어한다.</p>
                        </li>
                        <li>
                            <p><strong>class="text" v-bind:class="{ 'active' : active }"</strong></p>
                            <p>-> vue에서 정의한 'active'라는 데이터가 true일때만 text 클래스에 active 클래스를 추가한다</p>
                        </li>
                    </ol>
                </li>
            </ul>
        </li>
    </ol>
    <hr>
    <h2>2021.06.24</h2>
    <ol>
        <li>
            <h3>Vue 시작하기 - 2 - 조건문과 반복문</h3>
            <ul>
                <li>엘리먼트 존재 여부를 토글하는것은 간단하다.</li>
                <li>"v-xxx" 디렉티브 라고 한다.</li>
                <li>직접 엘리먼트를 선택해서 제어할 필요 없이 데이터만 변경하면 렌더링도 제어가 된다.</li>
                <li>Vue 엘리먼트가 Vue에 삽입/갱신/제거될 때 자동으로 <strong>트랜지션</strong>효과를 적용할 수 있다.</li>
                <li>
                    <p><a href="chapter1/v-if.html" target="_blank">조건문 (새창)</a></p>
                    <ol>
                        <li>
                            <p><strong>v-if="message"</strong></p>
                            <p>-> 만약에 message가 비어있으면 출력하지 않겠다 라는 의미로써도 사용한다.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p><a href="chapter1/v-for.html" target="_blank">반복문 (새창)</a></p>
                    <ol>
                        <li>
                            <p><strong>v-for="item in items"</strong></p>
                            <p>-> items라는 데이터를 반복시킬건데 이 안에 들어있는 각각의 객체데이터를 item이라는 이름으로 정의해서 반복한다</p>
                        </li>
                        <li>
                            <p><strong>{{ item.message }}</strong></p>
                            <p>-> item에 들어있는 특정 message를 출력하려면 item이라는 객체에 들어있는 message라는 프로퍼티를 찍어서 템플릿 문법으로 출력해주세요</p>
                        </li>
                        <li>
                            <p><strong>v-bind:key="item.id"</strong></p>
                            <p>-> item에 들어있는 id라는 고윳값을 키로 정의하겠다.</p>
                        </li>
                        <li>v-for 디렉티브는 v-bind:key 속성을 함께 사용하는것이 v-for의 기본 문법이다.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>
    <hr>
    <h2>2021.06.26</h2>
    <ol>
        <li>
            <h3>Vue 시작하기 - 3 - 사용자 입력 핸들링 (클릭 이벤트)</h3>
            <ul>
                <li>사용자가 앱과 상호작용할 수 있게 하기위해 v-on 디렉티브를 사용하여 vue 인스턴스에서 메소드를 호출하는 이벤트 리스너를 추가한다.</li>
                <li>this : 함수안에서 자신을 가리키고, vue 인스턴스 내에서는 vue 인스턴스를 가리킨다.</li>
                <li>this.message : data에 있는 message를 의미한다.</li>
                <li>DOM을 건드리지 않고 앱의 상태를 업데이트 한다.</li>
                <li>form의 input과 앱 상태를 양방향으로 바인딩하는 v-model 디렉티브가 있다.</li>
                <li>
                    <p><a href="chapter1/handling.html" target="_blank">이벤트 핸들링 (새창)</a></p>
                    <ol>
                        <li>
                            <p><strong>toggleElement ()</strong></p>
                            <p>-> ES6의 문법 : 객체 데이터의 특정한 프로퍼티가 function keyword를 정의해서 함수를 담을때 단축해서 사용할 수 있다.</p>
                        </li>
                        <li>
                            <p><strong>this.toggle = !this.toggle</strong></p>
                            <p>-> 추가하되 this.toggle의 현재값에 반대되는 값을 추가하겠다.</p>
                        </li>
                        <li>
                            <p><strong>v-bind:class="{ active: toggle}"</strong></p>
                            <p>-> active라는 클래스를 추가하는데 toggle의 값에 따라 추가하겠다.</p>
                        </li>
                        <li>
                            <p><strong>v-on:click="toggleElement"</strong></p>
                            <p>-> 사용자가 클릭했을때 toggleElement함수를 실행하겠다.</p>
                        </li>
                        <li>
                            <p><strong>v-modle="message"</strong></p>
                            <p>-> message는 문자 데이터이고 message라는 데이터를 v-model(input)에 연결해서 <strong>양방향</strong>으로 사용한다.</p>
                        </li>
                        <li>
                            <ul>
                                <li>display: flex : 정렬 방식</li>
                                <li>justify-content : 수평 정렬</li>
                                <li>align-items: 수직 정렬</li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ul>
        </li>
    </ol>
    <hr>
    <h2>2021.06.28</h2>
    <ol>
        <li>
            <h3>Vue 시작하기 - 4 - 컴포넌트를 사용한 작성 방법 .1</h3>
            <ul>
                <li>
                    <p><a href="chapter1/component1.html" target="_blank"> 예제 (새창)</a></p>
                    <ol>
                        <li>
                            <p><strong>Vue.component('todo-item', {...})</strong></p>
                            <p>-> Vue.Componet 통해서 todo-item이라는 컴포넌트를 정의한다. 첫번째 인자로 컴퍼넌트의 이름을 넣는다.</p>
                        </li>
                        <li>
                            <p><strong>v-for="item in groceryList"</strong></p>
                            <p>-> groceryList 배열 데이터를 반복한다. 배열안의 객체를 item이라는 이름으로 사용한다.</p>
                        </li>
                        <li>
                            <p><strong>v-bind:todo="item"</strong></p>
                            <p>-> todo라는 속성으로 item이라는 이름의 객체를 사용한다.</p>
                        </li>
                        <li>
                            <p><strong>props: ['todo']</strong></p>
                            <p>-> props를 통해서 todo라는 커스텀 프로퍼티를 html 커스텀 속성을 추가하고 데이터를 받아와서 내부에서 사용한다.</p>
                        </li>
                        <li>
                            <p><strong>&lt;todo-item&gt;&lt;/todo-item&gt;</strong></p>
                            <p>-> todo-item 이라는 커스텀화된 태그에 template의 내용이 삽입된다.</p>
                        </li>
                        <li>
                            <p><strong>template: '&lt;li&gt;{{ todo.text }}&lt;/li&gt;'</strong></p>
                            <p>-> todo에 들어있는 프로퍼티 text를 li태그 내부에 템플릿 문법을 통해서 출력한다.</p>
                        </li>
                    </ol>
                </li>
            </ul>
        </li>
    </ol>
</body>
</html>